@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Helvetica Neue', Ubuntu, sans-serif;
  font-size: 62.5%;
}

.returnToTheTop {
  display: flex;
  width: 1.5vw;
  height: 1.5vw;
  position: fixed;
  z-index: 2;
  right: 2%;
  bottom: 5%;
  padding: 1rem;
  background-color: #3D52D5;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .25s ease-out;
}

.returnToTheTop:hover {
  filter: brightness(.8);
  transform: translateY(-5px);
}

.returnToTheTop img {
  width: 100%;
  height: 100%;
}

.topPos {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #3D52D5;
}

/* ------------- NAVBAR -------------*/
.topNavbar {
  position: fixed;
  width: 100%;

  background-color: rgba(31, 31, 31, .8);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  z-index: 100;
  transition: all .25s ease-out;
  overflow: hidden;
}

.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navLinks {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 2rem;
  transition: all .05s ease-out;
  padding: .2rem;
}

.navLinks:hover {
  border-bottom: 2px solid #FF333A;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  z-index: 3;
}

.homeContainer {
  height: auto;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeContainer a {
  color: #fff;
  text-decoration: none;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.homeRight {
  flex: 1;
  pointer-events: none;
}

.homeRight img {
  width: 100%;
}

.homeText {
  font-size: 3vw;
  margin: .5rem 0;
}

.homeTextName {
  position: relative;
}

.homeTextName::before {
  position: absolute;
  content: '';
  width: 80%;
  height: .5vh;
  background: linear-gradient(-90deg, #fff 30%, #3D52D5);
  border-radius: 2rem;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.homeTextBtn {
  font-size: 2.5vw;
  text-align: center;
  background-color: #FF333A;
  border-radius: .5rem;
  width: 70%;
  padding: 1.5rem;
  margin-top: 4rem;
  transition: all .25s ease-out;
  position: relative;
}

.homeTextBtn:hover {
  transform: translateY(-5px);
  filter: brightness(.85);
}

/* ------------- NAVBAR -------------*/
/* ------------- portfolio -------------*/

.btnRound {
  padding: .7rem;
  border-radius: 2rem;
  background-color: #3D52D5;
  color: #fff;
}

.mainProject {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5rem 0;

}

.catTitle {
  font-size: 4rem;
  text-align: left;
  margin: 2rem 15%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.catSubTitle {
  font-size: 3.5rem;
  margin: 2rem 0;
  font-family: 'Montserrat', sans-serif;
}

.catTitle::after {
  content: '';
  background-image: linear-gradient(-90deg, #fff 10%, #3D52D5);
  width: 70%;
  height: .1vw;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.projectImg {
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  flex: 1;
  pointer-events: none;
}

.projectContainer {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.projectCard {
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* box-shadow: 0rem .3rem .3rem 0rem rgba(61, 82, 213, .3); */
  position: relative;
  transition: all .25s ease-out;
  cursor: default;
  background-color: #fff;
  box-shadow: .4rem .3rem .3rem .1rem rgba(61, 82, 213, .2);
}

.cardTop {
  margin-bottom: 1rem;
  position: relative;
}

.projectCardLinks {
  font-weight: 700;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #3D52D5;
  pointer-events: none;
  opacity: 0;
  transition: all .25s ease-out;
  text-align: center;
}

.projectCardLinks a i {
  color: #3D52D5;
}

.projectCard:hover .projectCardLinks {
  pointer-events: all;
  opacity: 1;
}

.projectCard:hover {
  transform: translateY(-5px);
}

.projectCard p {
  margin: .2em 1.5rem;
  text-align: left;
}

.projectCardLinks a {
  color: #000;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 3rem;
}

.projectCardLinks a:hover {
  color: #999;
}

.projectInfoTitle {
  flex: 1;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  color: #222;
  margin: .5rem 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectInfo {
  flex: 1;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  color: #777;
  margin: .5rem 1.5rem;
  line-height: 1.5;
}

.projectLanguages {
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: .5rem 1rem;
}

.projectLanguages li {
  margin: 1.5rem .5rem;
  color: #666;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5rem;
}

/* ------------- portfolio -------------*/
/* ------------- O meni -------------*/
.mainOmeni {
  width: 100%;
  min-height: 100vh;
}

.oMeniContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.oMeniInfoTextContainer {
  flex: 1;
  width: 90%;
}

.oMeniInfoText {
  font-weight: 400;
  line-height: 1.5;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
}

.languageList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 2rem 0;
}

.languageList li {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 0;
  font-weight: 400;
}

.languageList li::before {
  content: '►';
  margin-right: .5rem;
  color: #3D52D5;
  pointer-events: none;
}

.oMeniFoto {
  width: 100%;
  flex: 1;
  /* pointer-events: none; */
  position: relative;
  padding: .2rem;
}

.oMeniFoto img {
  filter: grayscale(100);
  transition: all .5s ease-out;
  border-radius: 2rem;
  pointer-events: none;
}

.oMeniFoto p {
  font-size: 2rem;
  margin-top: 1rem;
  color: #ccc;
}

.oMeniFoto:hover img {
  filter: grayscale(0);
}

.oMeniFoto::before {
  content: '';
  position: absolute;
  top: 3rem;
  left: 3rem;
  right: -2rem;
  bottom: -2rem;
  border: 1px solid #ccc;
  z-index: -1;
  transition: all .25s ease-out;
  border-radius: 2rem;
}

.oMeniFoto:hover::before {
  top: 1rem;
  left: 1rem;
  right: -1rem;
  bottom: -1rem;
  border: 2px solid #3D52D5;
}

.oMeniInfoText strong,
.oMeniInfoText strong a {
  font-size: inherit;
  font-weight: 700;
  color: #3D52D5;
  border-bottom: 1px solid #3D52D5;
  text-decoration: none;
}

/* ------------- O meni -------------*/
/* ------------- Kontakt -------------*/
.mainKontakt {
  width: 100%;
  min-height: 100vh;
}

.kontaktContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

.contactLinks {
  text-align: left;
}

.contactLinks .fab,
.contactLinks .fas {
  font-size: 3rem;
  margin-right: 1rem;
  transition: all .25s ease-out;
}

.kontaktInfo {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.contactLinks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0;
}

.contactLinks a {
  text-decoration: none;
  font-size: 3rem;
  color: #000;
  transition: all .1s ease-out;
  padding: 1rem;
}

.contactLinks a:hover {
  background-color: #3D52D5;
  color: #fff;
  transform: translateY(-10px);
  border-radius: 2rem;
}


/* ------------- Kontakt -------------*/
/* ------------- Footer -------------*/
footer {
  width: 70%;
  margin: 0 auto;
}

footer p {
  text-align: center;
  margin-bottom: 2rem;
}

footer p a {
  font-size: 1.5rem;
  color: #888;
  text-decoration: none;
  transition: all .15s ease-out;
  padding: 1rem;
}

footer p a:hover {
  color: #3D52D5;
  border-radius: 1.5rem;
  border: 2px solid #3D52D5;
}

/* ------------- Footer -------------*/
@media only screen and (max-width:1200px) {
  .projectCardLinks {
    pointer-events: all;
    opacity: 1;
  }
}


@media only screen and (max-width:992px) {
  .oMeniContainer {
    flex-direction: column;
  }

  .oMeniInfoText {
    width: 100%;
    font-size: 1.5rem;
  }

  .oMeniFoto {
    width: auto;
    scale: .5;
    margin: 2rem auto;
  }

  .catTitle::after {
    content: '';
    background-image: linear-gradient(-90deg, #fff 20%, #3D52D5);
    width: 100%;
    height: .2vw;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media only screen and (max-width:768px) {
  .topNavbar {
    padding: .2rem 0;
    justify-content: center;
  }

  .navLinks {
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  .returnToTheTop {
    display: none;
  }

  .mains {
    width: 90%;
  }

  .oMeniContainer {
    width: 90%;
    justify-content: flex-start;
    flex-direction: column;
  }

  .kontaktContainer {
    width: 90%;
  }

  .homeContainer {
    width: 90%;
    flex-direction: column;
  }

  .homeLeft {
    width: 100%;
    margin: 5rem;
  }

  .homeTextBtn {
    width: 100%;
  }

  .homeLeft .homeRight {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
  }

  .homeText {
    font-size: 3rem;
  }

  .homeTextBtn {
    padding: 1rem;
    font-size: 2.5rem;
  }

  .projectContainer {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }

  .projectCard {
    margin: 1rem 0;
  }


  .catTitle {
    text-align: left;
    margin: 2rem 5%;
  }

  .indexHeaderName {
    font-size: 5rem;
  }

  .indexHeaderText {
    font-size: 1.5rem;
  }


  .mainProject,
  .mainOmeni,
  .mainKontakt {
    margin: 8rem auto;
  }

  footer {
    width: 90%;
  }

  .oMeniInfoText {
    width: 100%;
  }

  .oMeniFoto img {
    width: 100%;
    filter: grayscale(0) blur(0);
  }

  .oMeniFoto {
    align-content: flex-start;
    margin: 0 0;
  }

  .contactLinks .fas,
  .contactLinks .fab {
    font-size: 1.5rem;
  }

  .contactLinks a {
    font-size: 1.5rem;
    border-bottom: 1px solid #3D52D5;
  }

  .oMeniFoto::before {
    display: none;
  }

  .contactLinks i {
    display: block;
  }
}